/**
 * Custom variables
 * ----------------------------------------------------------------------------
 */
 
$dark1: #333;

$header-bg: #333;
$footer-bg: #333;
$footer-color: #fff;

$menu-color: #fff;
$menu-hover: #272727;

$mobile-divider: #1d1d1d;

$body-bg: #fff;
$body-text: #222;

$link: #d42b30;
$link-hover: #971e21;
 
$btn: #d42b30;
$btn-hover: #971e21;
$btn-border: #971e21;
$btn-color: #fff;

$home-heading: #fff;

$single-post-heading: #222;