/**
 * Table of Contents for FoundationPress:
 *
 * 1.0 - Typography
 * 2.0 - Header, sidebar and footer
 * 3.0 - Content
 *	3.1 - Pages
 *	3.2 - Posts
 *	3.3	- Widgets
 *	3.4 - Comments
 *	3.5 - Lists
  * 3.6 - Forms
 * 4.0 - Plugins

 * ----------------------------------------------------------------------------
 */

/**
 * 1.0 Typography
 * ----------------------------------------------------------------------------
 */

.social-icon {
  font-size: 70px;
  margin-right: 0.5rem;
}


/**
 * 2.0 Header, sidebar and footer
 * ----------------------------------------------------------------------------
 */

// Insert styles here
.top-bar-container {
	padding: 0;
}
.top-bar {
	height: auto;
}
#logo {
	float: left;
	padding: 1rem 0;
}
#footer {
	padding: 2rem 0;
}
#footer p {
	margin-bottom: 0;
}

/**
 * 3.0 Content
 * ----------------------------------------------------------------------------
 */
 
a.button {
	display: block;
	width: 200px;
	margin-top: 1rem;
	border-radius: 0.3rem;
}
input[type="submit"] {
  border-radius: 0.3rem;
}


/**
 * 3.1 Pages
 * ------------------------------------
 */
.hero {
  background: url("../images/dealership-home-bg.jpg") no-repeat center;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}
@media #{$small-only} {
  .hero {
    padding: 2rem 0;
  }
}
@media #{$medium-up} {
	.hero {
    padding: 4rem 0;
    min-height: 400px;
  }
  .hero .hero-text-container {
    max-width: 400px;
  }
}
.home-heading {
  font-weight: 700;
  line-height: 1;
}

.home .featured-posts-container {
	margin: 0;
}
.home h2 {
	line-height: 2rem;
	padding: 1rem 0;
}
.recent-posts-container.row {
  margin: 0 -0.9375rem;
}
.recent-posts-container.rpc-top {
  margin-top: 4rem;
}
.recent-single-post {
  margin: 0 0 4rem 0;
}
.all-posts {
  width: 30%;
}

.page-template-all-posts-php .entry-title,
.page-template-categories-php .entry-title {
  margin-bottom: 2rem;
}
.page-template-all-posts-php h2 {
  line-height: 1;
  margin-bottom: 2rem;
}

.page div[role=main] {
  float: left;
}

/**
 * 3.2 Posts
 * ------------------------------------
 */

.container {
	padding: 2rem 0 0 0;
}
.home .container {
  padding: 3rem 0;
}
.single-post-content {
	float: left;
}
.single-post-content .entry-title {
  line-height: 2.5rem;
}
.single-post-content header img {
  margin-bottom: 1rem;
}

.search article,
.archive article {
  margin-bottom: 4rem;
}
.search h2,
.archive h2 {
  line-height: 2rem;
}

/**
 * 3.3 Widgets
 * ------------------------------------
 */
#sidebar {
  float: left;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
.page #sidebar,
.single #sidebar {
  padding-left: 0;
  padding-right: 0;
}
#sidebar article {
  margin-top: 2rem;
}
.widget a {
  line-height: 1;
}
#searchsubmit {
  margin-left: 0.5rem;
}
@media #{$large-up} {
  #sidebar {
    padding-left: 3rem;
    padding-right: 0;
    float: left;
  }
  #sidebar article:first-child {
    margin-top: 0;
  }
  .page #sidebar,
  .single #sidebar {
    padding-left: 3rem;
    padding-right: 0;
  }
}


/**
 * 3.4 Comments
 * ------------------------------------
 */

// Insert styles here


/**
 * 3.5 Lists
 * ------------------------------------
 */


/**
 * 3.6 Forms
 * ------------------------------------
 */

// Insert styles here


/**
 * 4.0 Plugins
 * ----------------------------------------------------------------------------
 */

#wp_rp_first {
  margin-top: 2rem;
}



// Responsive media queries //

@media #{$small-up} {
	.top-bar-section li:not(.has-form) a:not(.button) {
		text-transform: uppercase;
	}
	ul.off-canvas-list li a {
		text-transform: uppercase;
	}
}
@media #{$small-only} {
	#logo {
		max-height: 2.6rem;
		padding: 0;
		margin: 0 auto;
		float: none;
	}
}

@media #{$medium-up} {
	.contain-to-grid .top-bar {
		padding: 0 0.9375rem;
	}
	.top-bar-section li.active:not(.has-form) a:not(.button) {
		line-height: 112px;
	}
	.top-bar-section li:not(.has-form) a:not(.button) {
		line-height: 112px;
	}
	.top-bar-section>ul>.divider, .top-bar-section>ul>[role="separator"] {
		height: 112px;
	}
  .container {
	 padding: 4rem 0 0 0;
  }
}
@media #{$medium-only} { }

@media #{$large-up} { }
@media #{$large-only} { }

@media #{$xlarge-up} { }
@media #{$xlarge-only} { }

@media #{$xxlarge-up} { }
@media #{$xxlarge-only} { }